// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.

body {
	font-size: 16px;
}
.table {
	font-size: 18px;
}
#book_image {
	margin-top: 3px;
}

#back {
	margin-top: 5px;
}

.book_color {
	color: #0079FF;
}

.string_color {
	background-color: #00AAFF;
	color: #F8665F;
}

